* {
  margin: 0;
  padding: 0;
}

header {
  height: 5.21vw;
  width: 100vw;
  display: flex;
  position: absolute;
}

header > img {
  padding-left: 0.52vw;
}

header > img:first-child {
  width: 5.62vw;
  height: 5.21vw;
}

header > h1 {
  position: relative;
  margin-left: 2.8vw;
  margin-top: 0.32vw;
}

header > ul {
  margin-left: 1.56vw;
}

header li {
  width: 13.02vw;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 2.5vw;
  margin-left: 1.04vw;
}

header li:last-child {
  margin-left: 12.1vw;
}

header > img:last-child {
  width: 3.125vw;
  height: 2.604vw;
  float: right;
  position: absolute;
  margin-left: 95%;
  margin-top: 1.3vw;
}


.main {
  margin-top: 7.81vw;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;

}

.mainblock {
  height: 28.65vw;
  position: absolute;
  display: flex;
  padding: 1.04vw;

}

.col1 {
  width: 41.67vw;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.col1 > img {
  width: 41.67vw;
  height: 23.438vw;
}



.col1 li > img {
  width: 7.5vw;
  height: 4.22vw;
  margin-left: 0.365vw;
}

.col1 li > img:first-child {
  margin-right: 0.365vw;
}

.col1 ul {
  margin-top: 23.438vw;
  position: absolute;
  display: flex;
  align-self: center;
}

.col1 li {
  position: relative;
  display: inline-block;
}

.col2 {
  width: 15.625vw;
  position: relative;
  display: flex;
}

.tickets {
  position: absolute;
  width: 100%;
  height: 2.08vw;
  display: flex;
}

.tickets h1 {
  position: relative;
  margin-left: 0.26vw;
  align-self: center;
  width: 100%;
}

.tickets img {
  width: 2vw;
  height: 2vw;
  position: relative;
  margin-right: 0.26vw;
}

.time {
  position: absolute;
  margin-top: 2.08vw;
  width: 100%;
  height: 5.208vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.time h1 {
  width: 100%;
  margin-left: 0.26vw;
}

.hotels {
  position: absolute;
  margin-top: 7.29vw;
  width: 100%;
  height: 8.59vw;
  display: flex;
  flex-direction: column;
}

.hotels h1 {
  margin-left: 0.26vw;
}

.hotels ul {
  margin-left: 2.865vw;
}

.hotels img {
  width: 4.27vw;
  height: 4.0625vw;
  position: absolute;
  align-self: flex-end;
  margin-top: 2.08vw;
  margin-right: 0.52vw;
}

.price {
  position: absolute;
  width: 100%;
  height: 7.55vw;
  margin-top: 15.885vw;
  display: flex;
}

.price h1 {
  margin-left: 0.26vw;
}

.price h2 {
  position: absolute;
  align-self: center;
  margin-left: 5.208vw;
}

.rate {
  position: absolute;
  width: 100%;
  height: 5.208vw;
  margin-top: 23.437vw;
  display: flex;
  justify-content: center;

}

.square_rate {
  height: 4.167vw;
  width: 4.167vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.square_rate h1 {
  position: absolute;
  align-self: center;
  margin-bottom: 3.125vw;
}

.square_rate h2 {
  position: absolute;
  align-self: center;
}

.col3 {
  width: 20.83vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col3 p {
  align-self: center;
  margin-left: 0.26vw;
  margin-right: 0.26vw;
}

.cardblock {
  margin-top: 39.0625vw;
  width: 79.167vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 19.79vw;
  padding: 0.52vw;
}

.card img {
  width: 19.79vw;
  height: 15.83vw;
}

.card h1 {
  margin-top: 0.26vw;
  margin-bottom: 0.26vw;
}

.card .go {
  display: flex;
  justify-content: center;
  margin-top: 0.26vw;
  height: 2.083vw;
  width: 3.646vw;
}

.card p {
  font-size: 1vw;
}

.go a {
  align-self: center;
}

footer {
  position: absolute;
  display: flex;
  margin-top: 95vw;
  width: 100vw;
  height: 13.02vw;
}

footer img {
  align-self: center;
  margin-left: 0.52vw;
  margin-top: 0.625vw;
  position: absolute;
}

.left h1{
  margin-left: 10.9375vw;
  margin-top: 0.625vw;
}

.personal {
  height: 5.208vw;
  width: 13.02vw;
  margin-top: 3.8vw;
  margin-left: 10.9375vw;
  display: flex;
  justify-content: center;
}

.left a {
  text-align: center;
  align-self: center;
}

.left img {
  height: 11.67vw;
  width: 9.74vw;
}

.right {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

.right ul {
  align-self: center;
}

.right h1 {
  float: right;
  margin-right: 1.0417vw;
}

.right h2 {
  float: right;
  margin-right: 1.0417vw;
}

@media screen and (max-width: 900px) {
  .cardblock {
    flex-direction: column;
    justify-content: center;
  }

  .card {
    align-self: center;
  }

  .card {
    width: 78vw;
    padding: 1.04vw;
    margin-bottom: 6vw;
  }

  .card img {
    width: 78vw;
    height: 63.2vw;
  }

  .card h1 {
    margin-top: 1.04vw;
    margin-bottom: 1.04vw;
  }

  .card .go {
    margin-top: 1.04vw;
    height: 8.32vw;
    width: 14.58vw;
  }

  footer {
    margin-top: 420vw;
  }
}
